node-red_main.txt
[
    {
        "id": "be703e854ac6545d",
        "type": "tab",
        "label": "media player",
        "disabled": false,
        "info": ""
    },
    {
        "id": "256f8b172c5f0b76",
        "type": "api-call-service",
        "z": "be703e854ac6545d",
        "name": "",
        "server": "f25fc2a7.50d81",
        "version": 3,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "play_media",
        "entityId": "media_player.home_group",
        "data": "post_data",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 2710,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "48a10149c18a1bd2",
        "type": "function",
        "z": "be703e854ac6545d",
        "name": "deal with url",
        "func": "file_name = \"\";\nfile_names = msg.payload;\nif (!Array.isArray(file_names))\n    file_names = new Array(file_names);\n\nif (msg.shuffle_music==\"on\"){\n    if (file_names.length < 20 || global.get(\"hohoFavoriteSong\") == undefined){\n        file_name = file_names[0];\n        msg.played = [];\n    }else{\n        i = 0;\n        data = global.get(\"hohoFavoriteSong\");\n        if (data.played == undefined)\n            msg.played = [];\n        else\n            msg.played = data.played;\n        // node.warn(msg.played);\n        for(i = 0; i < file_names.length; i++){\n            file_name = file_names[i];\n            if (msg.played.includes(file_name))\n                continue;\n            msg.played.push(file_name);\n            break;\n        }\n        if (i >= file_names.length){\n            msg.played = [];\n        }\n    }\n}else{\n    if (file_names.length <= msg.current_file_index_of_ordered)\n        msg.current_file_index_of_ordered = 0;\n    file_name = file_names[msg.current_file_index_of_ordered];\n}\nfile_name = file_name.replace(msg.playlist_path,\"\");\n//msg.local_file_name = file_name;\nmsg.filename = msg.playlist_path + file_name;\nmsg.pure_file_name = msg.filename.split(\"/\").pop();\nsong_title = msg.pure_file_name;\nmsg.file_exts.forEach(ext=>song_title=song_title.replace(ext,\"\"))\nmedia_file_name = \"/media/\" + msg.playlist_path.replace(\n    msg.media_root_path,\n    msg.media_root_name)\n    + file_name;\nmsg.file_name = file_name;\nmsg.song_title = song_title;\nmsg.post_data = {\"media_content_id\":media_file_name,\"media_content_type\":\"audio/mp3\"}\nmsg.post_data[\"extra\"] ={\"metadata\": {\"metadataType\":3,\"title\":song_title}}\nglobal.set(\"hohoFavoriteSong\",msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 80,
        "wires": [
            [
                "4b87d8b8dda6899e"
            ]
        ]
    },
    {
        "id": "df5165b581d0a394",
        "type": "server-state-changed",
        "z": "be703e854ac6545d",
        "name": "media player device",
        "server": "f25fc2a7.50d81",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "media_player.home_group",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "idle",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 320,
        "wires": [
            [
                "7f6498a055bb8fdc"
            ],
            [
                "abdab12e2a12b39f"
            ]
        ]
    },
    {
        "id": "bc536ad1c428060c",
        "type": "api-current-state",
        "z": "be703e854ac6545d",
        "name": "Check music time button state",
        "server": "f25fc2a7.50d81",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.music_time",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 210,
        "y": 220,
        "wires": [
            [
                "ce56a7eea9d35a52"
            ],
            []
        ]
    },
    {
        "id": "5e1f662e77b854b7",
        "type": "server-state-changed",
        "z": "be703e854ac6545d",
        "name": "music time button state",
        "server": "f25fc2a7.50d81",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.music_time",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 180,
        "y": 460,
        "wires": [
            [
                "ce56a7eea9d35a52",
                "655769d95e7fd455"
            ],
            [
                "40f3d4ee608dd037"
            ]
        ]
    },
    {
        "id": "aca5336f3c30a954",
        "type": "api-call-service",
        "z": "be703e854ac6545d",
        "name": "",
        "server": "f25fc2a7.50d81",
        "version": 3,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "turn_off",
        "entityId": "media_player.home_group",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "bc33a6e6331642f2"
            ]
        ]
    },
    {
        "id": "14a54302eff9916f",
        "type": "api-call-service",
        "z": "be703e854ac6545d",
        "name": "off music",
        "server": "f25fc2a7.50d81",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.music_time",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 780,
        "y": 320,
        "wires": [
            [
                "6c8abb784eba0764"
            ]
        ]
    },
    {
        "id": "ce56a7eea9d35a52",
        "type": "api-current-state",
        "z": "be703e854ac6545d",
        "name": "load playlist",
        "server": "f25fc2a7.50d81",
        "version": 2,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.music_playlist",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 190,
        "y": 140,
        "wires": [
            [
                "a5434193281467c4"
            ]
        ]
    },
    {
        "id": "3e5c8bbc832dc48e",
        "type": "server-state-changed",
        "z": "be703e854ac6545d",
        "name": "favorite song button state",
        "server": "f25fc2a7.50d81",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.favorite_song",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 190,
        "y": 680,
        "wires": [
            [
                "f5da266145d7ea5e"
            ]
        ]
    },
    {
        "id": "f5da266145d7ea5e",
        "type": "function",
        "z": "be703e854ac6545d",
        "name": "check",
        "func": "\nvar data = global.get(\"hohoFavoriteSong\");\nif (data === undefined ||data === null ){\n    return [null,null];\n}\ndata.set_fav = msg.payload;\nreturn [data,null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 740,
        "wires": [
            [
                "5c70d0cfb4ba3ae8"
            ],
            []
        ]
    },
    {
        "id": "a8785f09ced07bb7",
        "type": "function",
        "z": "be703e854ac6545d",
        "name": "PLAYLIST mapping",
        "func": "//***********************\n//Made by HOHO``(Nov30th) \n//Github: https://github.com/nov30th/ha-hoho-google-media-center\n//***********************\n\n//You can now fully edit the mapping list,\n//also can remove the \"My Favorite\" if you don't want this feature,\n//otherwise you need to keep \"My Favorite\" with an exist write accessible path with fav button working.\n\n//============THE CONFIG AREA=============\n\n//For Robert and someone who has different mounting point\n//e.g. if you have \"music: /config/media\" in \"media_dirs:\", put it here\n//one media_dirs mapping only\none_media_dirs_in_ha_conf = \"music: /config/media\"\n\n//The playlist path mapping, you can edit them to yours.\n//values are relative path under the one_media_dirs_in_ha_conf\n//e.g. I have /config/media/mp3/ and /config/media/favorite_mp3/\n//Make sure the key name exists in input_select.music_playlist\n\n//THIS VERSION YOU COULD IGNORE THIS PLAYLIST AND USE RELOAD PLAYLIST BUTTON.\nplaylist_mapping = {\n    \"Mp3\":\"mp3/\",\n    \"My Favorite\":\"favorite_mp3/\"\n};\n\n//Temp album cover file location\nmsg.album_cover_temp_file = \"/config/www/album_cover_temp.jpg\";\n//The URL of album cover file\nmsg.album_cover_temp_url = \"https://[YOUR HA DOMAIN AND PORT]/local/album_cover_temp.jpg?\" + Math.random();\n//The file type you willing to shuffle\nfile_exts_filter = [\"ogg\",\"mp3\",\"flac\",\"flv\",\"mp4\"];\n//Whether fixes the issue of HA media_player, need write accessible with mp3 folders\n//Turn off this option will skip these unsupport file names,\n//If files in your folder are all unsupport file names, it may makes this flow script loop.\nmsg.fix_ha_media_player = true;\n//Whether read the metadata in music file push to media_player instead of filenames.\nmsg.rich_info_support = true;\n//Whether reset to 1st song on next playing if you turned the music off (non-shuffle mode)\nmsg.reset_ordered_index_once_stop_playing = true;\n//============END CONFIG AREA=============\n\n\n\nObject.map = function(o, f, ctx) {\n    ctx = ctx || this;\n    var result = {};\n    Object.keys(o).forEach(function(k) {\n        result[k] = f.call(ctx, o[k], k, o); \n    });\n    return result;\n}\n\none_media_dirs_in_ha_conf = one_media_dirs_in_ha_conf.replace(\" \",\"\").split(':');\nmsg.media_root_name = one_media_dirs_in_ha_conf[0];\nmsg.media_root_path = one_media_dirs_in_ha_conf[1];\nplaylist_mapping = Object.map(playlist_mapping, function(v, k, playlist_mapping) {\n     return msg.media_root_path + '/' + v;\n  });\n// msg.playlist_mapping = playlist_mapping.map((key,value)=>value=media_root_path+value);\npath = playlist_mapping[msg.payload];\nif (path === undefined || path[path.length-1]!='/')\n    path = msg.media_root_path + '/' + msg.payload + '/';\nmsg.playlist_mapping = playlist_mapping;\nmsg.playlist_path = path;\nmsg.playlist_name = msg.payload;\nmsg.file_exts = file_exts_filter.map(item=>\".\"+item);\nmsg.payload = {\"start\":path,\"pattern\": file_exts_filter.map(item=>\"*.\"+item).join(\",\")};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 80,
        "wires": [
            [
                "9538893ea8c14a32"
            ]
        ]
    },
    {
        "id": "7f2c0ad11a93e4ca",
        "type": "fs-ops-access",
        "z": "be703e854ac6545d",
        "name": "is fav file exists",
        "path": "playlist_mapping[\"My Favorite\"]",
        "pathType": "msg",
        "filename": "pure_file_name",
        "filenameType": "msg",
        "read": true,
        "write": false,
        "throwerror": false,
        "x": 2240,
        "y": 300,
        "wires": [
            [
                "18166b99b1c31272"
            ],
            [
                "aefbc1ab6c7fffdd"
            ]
        ]
    },
    {
        "id": "18166b99b1c31272",
        "type": "api-call-service",
        "z": "be703e854ac6545d",
        "name": "fav button on",
        "server": "f25fc2a7.50d81",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.favorite_song",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 2430,
        "y": 280,
        "wires": [
            [
                "256f8b172c5f0b76"
            ]
        ]
    },
    {
        "id": "aefbc1ab6c7fffdd",
        "type": "api-call-service",
        "z": "be703e854ac6545d",
        "name": "fav button off",
        "server": "f25fc2a7.50d81",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.favorite_song",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 2430,
        "y": 340,
        "wires": [
            [
                "256f8b172c5f0b76"
            ]
        ]
    },
    {
        "id": "5c70d0cfb4ba3ae8",
        "type": "api-current-state",
        "z": "be703e854ac6545d",
        "name": "only playing",
        "server": "f25fc2a7.50d81",
        "version": 2,
        "outputs": 2,
        "halt_if": "playing",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "media_player.home_group",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "media_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "media_data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 290,
        "y": 740,
        "wires": [
            [
                "76cdcdc59748cc46"
            ],
            []
        ]
    },
    {
        "id": "d09c78a917b5eec5",
        "type": "fs-ops-delete",
        "z": "be703e854ac6545d",
        "name": "",
        "path": "playlist_mapping[\"My Favorite\"]",
        "pathType": "msg",
        "filename": "pure_file_name",
        "filenameType": "msg",
        "x": 330,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "76cdcdc59748cc46",
        "type": "switch",
        "z": "be703e854ac6545d",
        "name": "copy or delete",
        "property": "set_fav",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 820,
        "wires": [
            [
                "8d6c333a10e5b083"
            ],
            [
                "d1699ebe51b3ae48"
            ]
        ]
    },
    {
        "id": "8d6c333a10e5b083",
        "type": "fs-ops-access",
        "z": "be703e854ac6545d",
        "name": "is fav file exists",
        "path": "playlist_mapping[\"My Favorite\"]",
        "pathType": "msg",
        "filename": "pure_file_name",
        "filenameType": "msg",
        "read": true,
        "write": false,
        "throwerror": false,
        "x": 160,
        "y": 880,
        "wires": [
            [],
            [
                "74c23b2a6025e7b6"
            ]
        ]
    },
    {
        "id": "74c23b2a6025e7b6",
        "type": "fs-ops-copy",
        "z": "be703e854ac6545d",
        "name": "copy to fav folder",
        "sourcePath": "playlist_path",
        "sourcePathType": "msg",
        "sourceFilename": "file_name",
        "sourceFilenameType": "msg",
        "destPath": "playlist_mapping[\"My Favorite\"]",
        "destPathType": "msg",
        "destFilename": "pure_file_name",
        "destFilenameType": "msg",
        "link": false,
        "overwrite": true,
        "x": 350,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "d1699ebe51b3ae48",
        "type": "fs-ops-access",
        "z": "be703e854ac6545d",
        "name": "is fav file exists",
        "path": "playlist_mapping[\"My Favorite\"]",
        "pathType": "msg",
        "filename": "pure_file_name",
        "filenameType": "msg",
        "read": true,
        "write": false,
        "throwerror": false,
        "x": 160,
        "y": 940,
        "wires": [
            [
                "d09c78a917b5eec5"
            ],
            []
        ]
    },
    {
        "id": "df2ba72a1c687e67",
        "type": "get media tags",
        "z": "be703e854ac6545d",
        "name": "",
        "filename": "",
        "x": 1380,
        "y": 240,
        "wires": [
            [
                "c755b38c16613fc3"
            ]
        ]
    },
    {
        "id": "c755b38c16613fc3",
        "type": "function",
        "z": "be703e854ac6545d",
        "name": "",
        "func": "if (msg.payload != undefined && msg.payload.error != undefined){\n    return msg;\n}\nmetadata = msg.post_data[\"extra\"][\"metadata\"];\nif (msg.payload.tags != undefined){\n    tags = msg.payload.tags;\n    if (tags.title != undefined)\n        metadata['title'] = tags.title;\n        \n    if (tags.artist != undefined)\n        metadata['artist'] = tags.artist;\n        \n    if (tags.album != undefined)\n        metadata['albumName'] = tags.album;\n        \n    if (tags.track != undefined)\n        metadata['trackNumber'] = tags.track;\n        \n    if (tags.year != undefined)\n        metadata['releaseDate'] = tags.year;\n        \n    if (tags.picture != undefined){\n        msg.image = \"yes\";\n        msg.payload = new Buffer(tags.picture.data);\n        msg.filename = msg.album_cover_temp_file;\n        metadata['images'] = [{\"url\":msg.album_cover_temp_url}];\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1560,
        "y": 240,
        "wires": [
            [
                "d2ef14a36c5fd684"
            ]
        ]
    },
    {
        "id": "d2ef14a36c5fd684",
        "type": "switch",
        "z": "be703e854ac6545d",
        "name": "album image",
        "property": "image",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1710,
        "y": 240,
        "wires": [
            [
                "33ebc446c52e362e"
            ],
            [
                "8b767e5323659824"
            ]
        ]
    },
    {
        "id": "33ebc446c52e362e",
        "type": "file",
        "z": "be703e854ac6545d",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1850,
        "y": 240,
        "wires": [
            [
                "8b767e5323659824"
            ]
        ]
    },
    {
        "id": "4b87d8b8dda6899e",
        "type": "switch",
        "z": "be703e854ac6545d",
        "name": "",
        "property": "file_name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "..",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "~",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "%",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 1510,
        "y": 80,
        "wires": [
            [
                "2baf8ab4417f10c7"
            ],
            [
                "2baf8ab4417f10c7"
            ],
            [
                "2baf8ab4417f10c7"
            ],
            [
                "4f2a6e3c81594537"
            ]
        ]
    },
    {
        "id": "2baf8ab4417f10c7",
        "type": "function",
        "z": "be703e854ac6545d",
        "name": "remove spec chars",
        "func": "file_name = msg.file_name;\nwhile(file_name.includes(\"..\"))\n    file_name = file_name.replace(\"..\",\"__\");\nwhile(file_name.includes(\"%\"))\n    file_name = file_name.replace(\"%\",\"\");\nwhile(file_name.includes(\"~\"))\n    file_name = file_name.replace(\"~\",\"-\");\nmsg.to_file_name = file_name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1710,
        "y": 80,
        "wires": [
            [
                "4c9194274ea5fa95"
            ]
        ]
    },
    {
        "id": "2dc3b7e99aea0705",
        "type": "fs-ops-move",
        "z": "be703e854ac6545d",
        "name": "move file",
        "sourcePath": "playlist_path",
        "sourcePathType": "msg",
        "sourceFilename": "file_name",
        "sourceFilenameType": "msg",
        "destPath": "playlist_path",
        "destPathType": "msg",
        "destFilename": "to_file_name",
        "destFilenameType": "msg",
        "link": false,
        "x": 1680,
        "y": 160,
        "wires": [
            [
                "b164839b2ad1e01e"
            ]
        ]
    },
    {
        "id": "b164839b2ad1e01e",
        "type": "fs-file-lister",
        "z": "be703e854ac6545d",
        "name": "",
        "start": "Vincent Qiu",
        "pattern": "by HOHO``",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": true,
        "single": true,
        "depth": "5",
        "stat": false,
        "showWarnings": true,
        "x": 920,
        "y": 120,
        "wires": [
            [
                "04a44e81b891a133"
            ]
        ]
    },
    {
        "id": "8b767e5323659824",
        "type": "switch",
        "z": "be703e854ac6545d",
        "name": "fav enabled?",
        "property": "playlist_mapping[\"My Favorite\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2030,
        "y": 300,
        "wires": [
            [
                "7f2c0ad11a93e4ca"
            ],
            [
                "256f8b172c5f0b76"
            ]
        ]
    },
    {
        "id": "40f3d4ee608dd037",
        "type": "api-current-state",
        "z": "be703e854ac6545d",
        "name": "if media player is playing",
        "server": "f25fc2a7.50d81",
        "version": 2,
        "outputs": 2,
        "halt_if": "playing",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "media_player.home_group",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 190,
        "y": 520,
        "wires": [
            [
                "aca5336f3c30a954"
            ],
            []
        ]
    },
    {
        "id": "35d41d9ccf3cbf4c",
        "type": "api-current-state",
        "z": "be703e854ac6545d",
        "name": "button is on?",
        "server": "f25fc2a7.50d81",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.music_time",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 630,
        "y": 320,
        "wires": [
            [
                "14a54302eff9916f"
            ],
            []
        ]
    },
    {
        "id": "4c9194274ea5fa95",
        "type": "switch",
        "z": "be703e854ac6545d",
        "name": "fix filename",
        "property": "fix_ha_media_player",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1510,
        "y": 160,
        "wires": [
            [
                "2dc3b7e99aea0705"
            ],
            [
                "b164839b2ad1e01e"
            ]
        ]
    },
    {
        "id": "4f2a6e3c81594537",
        "type": "switch",
        "z": "be703e854ac6545d",
        "name": "rich info?",
        "property": "rich_info_support",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1180,
        "y": 240,
        "wires": [
            [
                "df2ba72a1c687e67"
            ],
            [
                "8b767e5323659824"
            ]
        ]
    },
    {
        "id": "7f6498a055bb8fdc",
        "type": "switch",
        "z": "be703e854ac6545d",
        "name": "if prev status playing",
        "property": "data.old_state.state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "playing",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "bc536ad1c428060c"
            ],
            [
                "bc536ad1c428060c"
            ]
        ]
    },
    {
        "id": "655769d95e7fd455",
        "type": "function",
        "z": "be703e854ac6545d",
        "name": "last button on timestamp",
        "func": "flow.set(\"last_on\",Math.floor(Date.now() / 1000));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "abdab12e2a12b39f",
        "type": "function",
        "z": "be703e854ac6545d",
        "name": "button on time check",
        "func": "if (msg.payload != \"off\" \n    && msg.payload != \"paused\"\n    && msg.payload != \"unknown\"\n    ){\n    msg.inv = msg.payload;\n    return [null,msg];\n}\nif (flow.get(\"last_on\") !== undefined){\n    inv = Math.floor(Date.now() / 1000) - flow.get(\"last_on\")\n    if (inv > 5){\n        msg.inv = inv;\n        return [msg,null];\n        }\n    else{\n        msg.inv = \"last_on undefined\"\n        return [null,msg];\n        }\n}\nmsg.inv = \"not exist\";\nreturn [msg,null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "35d41d9ccf3cbf4c"
            ],
            []
        ]
    },
    {
        "id": "5cfcc17cd4e7f8a2",
        "type": "inject",
        "z": "be703e854ac6545d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "ce56a7eea9d35a52"
            ]
        ]
    },
    {
        "id": "1186c151822eb8b4",
        "type": "server-state-changed",
        "z": "be703e854ac6545d",
        "name": "delete song button state",
        "server": "f25fc2a7.50d81",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.delete_song",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 630,
        "y": 680,
        "wires": [
            [
                "2958bdfcadd68ca9"
            ],
            []
        ]
    },
    {
        "id": "2958bdfcadd68ca9",
        "type": "function",
        "z": "be703e854ac6545d",
        "name": "check",
        "func": "\nvar data = global.get(\"hohoFavoriteSong\");\nif (data === undefined ||data === null ){\n    return [null,null];\n}\nreturn [data,null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 740,
        "wires": [
            [
                "9146852c64944807"
            ],
            []
        ]
    },
    {
        "id": "9146852c64944807",
        "type": "api-current-state",
        "z": "be703e854ac6545d",
        "name": "only playing",
        "server": "f25fc2a7.50d81",
        "version": 2,
        "outputs": 2,
        "halt_if": "playing",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "media_player.home_group",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "media_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "media_data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "x": 730,
        "y": 740,
        "wires": [
            [
                "160d571e91bbdfe4"
            ],
            []
        ]
    },
    {
        "id": "160d571e91bbdfe4",
        "type": "fs-ops-delete",
        "z": "be703e854ac6545d",
        "name": "",
        "path": "playlist_path",
        "pathType": "msg",
        "filename": "file_name",
        "filenameType": "msg",
        "x": 590,
        "y": 800,
        "wires": [
            [
                "cce3bf9040a086db"
            ]
        ]
    },
    {
        "id": "cce3bf9040a086db",
        "type": "api-call-service",
        "z": "be703e854ac6545d",
        "name": "",
        "server": "f25fc2a7.50d81",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.delete_song",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 820,
        "y": 800,
        "wires": [
            [
                "ce56a7eea9d35a52"
            ]
        ]
    },
    {
        "id": "91165db511c5b69d",
        "type": "random-item",
        "z": "be703e854ac6545d",
        "name": "",
        "input": "payload",
        "inputType": "msg",
        "output": "payload",
        "outputType": "msg",
        "number": "20",
        "x": 1170,
        "y": 80,
        "wires": [
            [
                "48a10149c18a1bd2"
            ]
        ]
    },
    {
        "id": "04a44e81b891a133",
        "type": "api-current-state",
        "z": "be703e854ac6545d",
        "name": "is shuffle_music",
        "server": "f25fc2a7.50d81",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.shuffle_music",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "shuffle_music",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 940,
        "y": 180,
        "wires": [
            [
                "91165db511c5b69d"
            ],
            [
                "48a10149c18a1bd2"
            ]
        ]
    },
    {
        "id": "6c8abb784eba0764",
        "type": "function",
        "z": "be703e854ac6545d",
        "name": "set current ordered song index to top",
        "func": "//delete this node if you don't want the ordered song playing be\n//reset to the first one once stop playing.\n\nvar data = global.get(\"hohoFavoriteSong\");\nif (data === undefined ||data === null ){\n    return null;\n}\nif (msg.reset_ordered_index_once_stop_playing==false)\n    return data;\ndata.current_file_index_of_ordered = -1;\nnode.warn(\"reset index\");\nglobal.set(\"hohoFavoriteSong\",data);\nreturn data;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "bc33a6e6331642f2",
        "type": "function",
        "z": "be703e854ac6545d",
        "name": "set current ordered song index to top",
        "func": "\n\nvar data = global.get(\"hohoFavoriteSong\");\nif (data === undefined ||data === null ){\n    return null;\n}\nif (msg.reset_ordered_index_once_stop_playing==false)\n    return data;\ndata.current_file_index_of_ordered = -1;\nnode.warn(\"reset index\");\nglobal.set(\"hohoFavoriteSong\",data);\nreturn data;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a5434193281467c4",
        "type": "function",
        "z": "be703e854ac6545d",
        "name": "increase ordered song playing index",
        "func": "var data = global.get(\"hohoFavoriteSong\");\nif (data === undefined ||data === null ){\n    data = {};\n    node.warn(\"data is null\");\n    data.current_file_index_of_ordered = -1;\n}else{\n    if (data.current_file_index_of_ordered === undefined ||\n    data.current_file_index_of_ordered === null\n    ){\n        node.warn(\"current_file_index_of_ordered is null\");\n        data.current_file_index_of_ordered = -1;\n    }\n    else{\n        node.warn(data.current_file_index_of_ordered);\n        data.current_file_index_of_ordered++;\n    }\n}\n// global.set(\"hohoFavoriteSong\",data);\nmsg.current_file_index_of_ordered = data.current_file_index_of_ordered;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 140,
        "wires": [
            [
                "a8785f09ced07bb7"
            ]
        ]
    },
    {
        "id": "ef0df39938c25241",
        "type": "inject",
        "z": "be703e854ac6545d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 660,
        "y": 980,
        "wires": [
            [
                "62cb6f40505d36ac"
            ]
        ]
    },
    {
        "id": "62cb6f40505d36ac",
        "type": "function",
        "z": "be703e854ac6545d",
        "name": "set hohoFavoriteSong null",
        "func": "\nglobal.set(\"hohoFavoriteSong\",undefined);",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 980,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ccd695498b35568e",
        "type": "fs-file-lister",
        "z": "be703e854ac6545d",
        "name": "",
        "start": "Vincent Qiu",
        "pattern": "by HOHO``",
        "folders": "*",
        "hidden": false,
        "lstype": "directories",
        "path": false,
        "single": true,
        "depth": "0",
        "stat": false,
        "showWarnings": true,
        "x": 640,
        "y": 260,
        "wires": [
            [
                "ecaba1cb79f144f7",
                "cc4259ecaf68f8eb"
            ]
        ]
    },
    {
        "id": "8042cf7514323856",
        "type": "function",
        "z": "be703e854ac6545d",
        "name": "folder scan",
        "func": "msg.payload = {\"start\":msg.media_root_path,\"pattern\": \"*\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 220,
        "wires": [
            [
                "ccd695498b35568e"
            ]
        ]
    },
    {
        "id": "ecaba1cb79f144f7",
        "type": "api-call-service",
        "z": "be703e854ac6545d",
        "name": "adds folders to droplist",
        "server": "f25fc2a7.50d81",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_select",
        "service": "set_options",
        "entityId": "input_select.music_playlist",
        "data": "{\"options\":msg.payload}",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 820,
        "y": 260,
        "wires": [
            [
                "9a2d7701d2c4bf83"
            ]
        ]
    },
    {
        "id": "9538893ea8c14a32",
        "type": "api-current-state",
        "z": "be703e854ac6545d",
        "name": "is reload?",
        "server": "f25fc2a7.50d81",
        "version": 2,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.reload_playlist",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [],
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 700,
        "y": 80,
        "wires": [
            [
                "8042cf7514323856"
            ],
            [
                "b164839b2ad1e01e"
            ]
        ]
    },
    {
        "id": "9a2d7701d2c4bf83",
        "type": "api-call-service",
        "z": "be703e854ac6545d",
        "name": "reset reload btn status to off",
        "server": "f25fc2a7.50d81",
        "version": 3,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.reload_playlist",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1040,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9832cc55eb034ea1",
        "type": "server-state-changed",
        "z": "be703e854ac6545d",
        "name": "reload playlist clicked",
        "server": "f25fc2a7.50d81",
        "version": 3,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.reload_playlist",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [],
        "x": 420,
        "y": 280,
        "wires": [
            [
                "a8785f09ced07bb7"
            ],
            []
        ]
    },
    {
        "id": "cc4259ecaf68f8eb",
        "type": "debug",
        "z": "be703e854ac6545d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 480,
        "wires": []
    },
    {
        "id": "f25fc2a7.50d81",
        "type": "server",
        "name": "Home Assistant",
        "version": 1,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]