node-red_delete_music_btn.txt
[
    {
        "id": "66bb0811.8386b8",
        "type": "server-state-changed",
        "z": "13ac7585.18210a",
        "name": "delete song button state",
        "server": "f25fc2a7.50d81",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.delete_song",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 630,
        "y": 680,
        "wires": [
            [
                "c2fdb6d.8efb948"
            ],
            []
        ]
    },
    {
        "id": "c2fdb6d.8efb948",
        "type": "function",
        "z": "13ac7585.18210a",
        "name": "check",
        "func": "\nvar data = global.get(\"hohoFavoriteSong\");\nif (data === undefined ||data === null ){\n    return [null,null];\n}\nreturn [data,null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 740,
        "wires": [
            [
                "ca2c2541.a75ab8"
            ],
            []
        ]
    },
    {
        "id": "ca2c2541.a75ab8",
        "type": "api-current-state",
        "z": "13ac7585.18210a",
        "name": "only playing",
        "server": "f25fc2a7.50d81",
        "version": 1,
        "outputs": 2,
        "halt_if": "playing",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "media_player.home_group",
        "state_type": "str",
        "state_location": "media_state",
        "override_payload": "msg",
        "entity_location": "media_data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 730,
        "y": 740,
        "wires": [
            [
                "84764267.cd158"
            ],
            []
        ]
    },
    {
        "id": "84764267.cd158",
        "type": "fs-ops-delete",
        "z": "13ac7585.18210a",
        "name": "",
        "path": "playlist_path",
        "pathType": "msg",
        "filename": "file_name",
        "filenameType": "msg",
        "x": 590,
        "y": 800,
        "wires": [
            [
                "2da81035.6806d"
            ]
        ]
    },
    {
        "id": "2da81035.6806d",
        "type": "api-call-service",
        "z": "13ac7585.18210a",
        "name": "",
        "server": "f25fc2a7.50d81",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.delete_song",
        "data": "",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 820,
        "y": 800,
        "wires": [
            [
                "d0b8c29b.4f194"
            ]
        ]
    },
    {
        "id": "f25fc2a7.50d81",
        "type": "server",
        "name": "Home Assistant"
    }
]
