node-red_fav_btn.txt
[
    {
        "id": "51c126bf.dcea28",
        "type": "server-state-changed",
        "z": "13ac7585.18210a",
        "name": "favorite song button state",
        "server": "f25fc2a7.50d81",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.favorite_song",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 170,
        "y": 540,
        "wires": [
            [
                "89eb5dc0.898a2"
            ]
        ]
    },
    {
        "id": "89eb5dc0.898a2",
        "type": "function",
        "z": "13ac7585.18210a",
        "name": "check",
        "func": "\nvar data = global.get(\"hohoFavoriteSong\");\nif (data === undefined ||data === null ){\n    return [null,null];\n}\ndata.set_fav = msg.payload;\nreturn [data,null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "44dc0761.893fd8"
            ],
            []
        ]
    },
    {
        "id": "44dc0761.893fd8",
        "type": "api-current-state",
        "z": "13ac7585.18210a",
        "name": "only playing",
        "server": "f25fc2a7.50d81",
        "version": 1,
        "outputs": 2,
        "halt_if": "playing",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "media_player.home_group",
        "state_type": "str",
        "state_location": "media_state",
        "override_payload": "msg",
        "entity_location": "media_data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 270,
        "y": 600,
        "wires": [
            [
                "bf0b29c2.989458"
            ],
            []
        ]
    },
    {
        "id": "b794607c.368ff",
        "type": "fs-ops-delete",
        "z": "13ac7585.18210a",
        "name": "",
        "path": "playlist_mapping[\"My Favorite\"]",
        "pathType": "msg",
        "filename": "pure_file_name",
        "filenameType": "msg",
        "x": 310,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "bf0b29c2.989458",
        "type": "switch",
        "z": "13ac7585.18210a",
        "name": "copy or delete",
        "property": "set_fav",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 140,
        "y": 680,
        "wires": [
            [
                "63d31658.fd04a8"
            ],
            [
                "c4f81d55.595be"
            ]
        ]
    },
    {
        "id": "63d31658.fd04a8",
        "type": "fs-ops-access",
        "z": "13ac7585.18210a",
        "name": "is fav file exists",
        "path": "playlist_mapping[\"My Favorite\"]",
        "pathType": "msg",
        "filename": "pure_file_name",
        "filenameType": "msg",
        "read": true,
        "write": false,
        "throwerror": false,
        "x": 140,
        "y": 740,
        "wires": [
            [],
            [
                "9128b2f4.04a31"
            ]
        ]
    },
    {
        "id": "9128b2f4.04a31",
        "type": "fs-ops-copy",
        "z": "13ac7585.18210a",
        "name": "copy to fav folder",
        "sourcePath": "playlist_path",
        "sourcePathType": "msg",
        "sourceFilename": "file_name",
        "sourceFilenameType": "msg",
        "destPath": "playlist_mapping[\"My Favorite\"]",
        "destPathType": "msg",
        "destFilename": "pure_file_name",
        "destFilenameType": "msg",
        "link": false,
        "overwrite": true,
        "x": 330,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "c4f81d55.595be",
        "type": "fs-ops-access",
        "z": "13ac7585.18210a",
        "name": "is fav file exists",
        "path": "playlist_mapping[\"My Favorite\"]",
        "pathType": "msg",
        "filename": "pure_file_name",
        "filenameType": "msg",
        "read": true,
        "write": false,
        "throwerror": false,
        "x": 140,
        "y": 800,
        "wires": [
            [
                "b794607c.368ff"
            ],
            []
        ]
    },
    {
        "id": "f25fc2a7.50d81",
        "type": "server",
        "name": "Home Assistant"
    }
]